.app-wrapper {
  display: grid;

  grid-template-areas: 
  "h h h"
  "i i i"
  "r r r"
  "p p t"
  "e e e";


  grid-template-columns: repeat (3, 1fr);
  grid-template-rows: repeat (7,1fr);

}
.headerItem{
  grid-area: h;
  background-color: antiquewhite;
}

.imageTshirt{
  grid-area: i;
  background-color: blue;
  width: 300px;
  height: 400px;
}

.realisticViewButton{
  grid-area: r;
  background-color: aqua;
}

.photoButton{
  grid-area: p;
  background-color: brown;
}

.textButton{
  grid-area: t;
  background-color: blueviolet;
}

.textEditor{
  grid-area:e;
  background-color: chocolate;
}

.photoButton img {
  width: 25px;
  height: 25px;
}

/* const baseStyle = {
  display: 'flex',
  flexDirection: 'column',
  alignItems: 'center',
  padding: '20px',
  borderWidth: 2,
  borderRadius: 2,
  borderColor: '#eeeeee',
  borderStyle: 'dashed',
  backgroundColor: '#fafafa',
  color: '#bdbdbd',
  transition: 'border .3s ease-in-out' */
/* }; */

/* const activeStyle = {
  borderColor: '#2196f3'
};

{
  borderColor: '#00e676'
};

rejectStyle {
  borderColor: '#ff1744'
}; */

.tshirtWrap {
position: relative;
text-align: center;
color: white
}

.textTshirt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imageShirt{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); 
}